@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Pages */

/* *,
*::before,
*::after {
  box-sizing: border-box;
} */

html {
  height: 100%;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.2);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 34px;
  height: fit-content;
  word-break: break-all;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button-blue {
  background-color: #82b3d3;
}

.button-blue:hover {
  background-color: #68a2ca;
  transition: 0.3s;
}

.button-blue:focus {
  background-color: #68a2ca;
  outline: none;
}

.button-blue:focus-visible {
  background-color: #68a2ca;
  outline: 3px #83B3D3 solid;
  outline-offset: -3px;
}

.button-blue:active {
  background-color: #82b3d3;
  color: #ffffff4d;
}

.button-blue:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.button-brown {
  background-color: #756157;
}

.button-brown:hover {
  background-color: #615048;
  transition: 0.3s;
}

.button-brown:focus {
  background-color: #615048;
  outline: none;
}

.button-brown:focus-visible {
  background-color: #615048;
  outline: 3px #83B3D3 solid;
  outline-offset: -3px;
}

.button-brown:active {
  background-color: #756157;
  color: #ffffff4d;
}

.button-brown:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.button-transparent {
  background-color: transparent;
}

.button-transparent:hover {
  background-color: transparent;
  opacity: 0.6;
  transition: 0.3s;
}

.button-transparent:focus {
  background-color: transparent;
  color: #ffffff;
  outline: 2px #83B3D3 solid;
  box-sizing: border-box;
}

.button-transparent:active {
  background-color: transparent;
  color: #ffffff4d;
  outline: none;
}

.button-transparent:disabled {
  color: #ffffff;
  background-color: transparent;
  opacity: 0.1;
}

.button-green {
  background-color: #7db54f;
}

.button-green:hover {
  background-color: #6c9e42;
}

.button-green:focus {
  background-color: #6c9e42;
  outline: none;
}

.button-green:focus-visible {
  background-color: #6c9e42;
  outline: 3px #83B3D3 solid;
  outline-offset: -3px;
}

.button-green:active {
  background-color: #7db54f;
  color: #ffffff4d;
}

.button-green:disabled {
  color: #ffffff;
  background-color: #e5e5e5;
}

.navigation {
  display: flex;
  margin: 0 70px;
}

.navigation-logo {
  width: 138px;
  height: 64px;
  margin-right: 30px;
  padding: 0;
  z-index: 5;
}

.navigation-logo:hover {
  opacity: 0.6;
}

.navigation-logo:focus {
  outline: 3px #83B3D3 solid;
  outline-offset: -3px;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 507px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0 20px 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-link:hover {
  color: #756157;
  transition: 0.3s;
}

.navigation-link:focus-visible {
  color: #756157;
  outline: 3px #83B3D3 solid;
  outline-offset: -3px;
}

.navigation-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.navigation-link-current {
  position: relative;
}

.navigation-link-current::before {
  position: absolute;
  right: 16px;
  bottom: 0;
  left: 16px;
  height: 2px;
  background-color: #756257;
  content: "";
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
}

.navigation-link-search {
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.navigation-link-search:hover {
  opacity: 0.6;
}

.navigation-link-featured {
  position: relative;
  background-image: url("../images/featured.svg");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: center;
}

.navigation-link-featured:hover {
  opacity: 0.6;
}

.featured-counter {
  display: block;
  padding: 5px;
  position: absolute;
  top: 12px;
  left: 19px;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  background-color: #7DB54F;
  border-radius: 50%;
}

.navigation .button {
  margin-top: 14px;
  min-width: 160px;
}
.main-header {
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
}

.page-container {
  margin: 0 auto;
}

/* Banner */

.main-banner {
  padding-top: 51px;
  padding-bottom: 82px;
  color: #ffffff;
  text-align: center;
  background-color: #82b3d3;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.main-banner::after {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-height: 57px;
  background-image: url(../images/divider.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  content: "";
}

.main-banner-img {
  display: block;
  margin: 0 auto;
}



/* About */

.about {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 69px 0 90px;
}

.about h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 630px;
  margin: 0 auto 0;
}

.about p {
  max-width: 660px;
  margin: 25px auto 0;
}

/* Advantages */

.advantages {
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-grow: 1;
  font-size: 18px;
  line-height: 21px;
  min-height: 345px;
  margin: 0;
  padding: 0;
}

.advantages-item-text {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.advantages-item-img {
  display:block;
  height: 100%;
  object-fit: cover;
}

.advantages-item:first-child {
  width: 100%;
}

.advantages-item:last-child {
  width: 100%;
  flex-direction: row-reverse;
}

.background-basic {
  color: #ffffff;
  background-color: #82b3d3;
}

.background-second-light {
  padding: 20px 0;
  color: #000000;
  background-color: #83b3d31f;
  flex-direction: column;
  justify-content: center;
}

.background-second-dark {
  padding: 20px 0;
  color: #000000;
  background-color: #83b3d333;
  flex-direction: column;
  justify-content: center;
}

.advantages-title {
  max-width: 175px;
  margin: 0 auto 62px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  max-width: 232px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.advantages-description::before {
  position: absolute;
  right: 85px;
  top: -32px;
  left: 85px;
  height: 2px;
  content: "";
  background-color: rgba(0, 0, 0, 0.3);
}

.background-basic .advantages-description::before {
  background-color: rgba(255, 255, 255, 0.3);
}

/* Slogan */

.slogan {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 64px;
}

.slogan h2 {
  max-width: 505px;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slogan p {
  max-width: 651px;
  margin: 20px auto 0;
}

/* Services */

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  min-width: 400px;
  min-height: 385px;
  font-size: 18px;
  line-height: 21px;
  padding: 165px 85px 81px;
  box-sizing: border-box;
}

.services-title {
  width: 100%;
  margin: 0 auto 30px;
  position: relative;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.housing-icon::before {
  position: absolute;
  width: 75px;
  height: 72px;
  content: "";
  background: url(../images/icon-housing.svg) no-repeat center / contain;
  margin-bottom: 30px;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
}

.food-icon::before {
  position: absolute;
  width: 75px;
  height: 72px;
  content: "";
  background: url(../images/icon-food.svg) no-repeat center / contain;
  margin-bottom: 30px;
  bottom: 28px;
  left: 50%;
   transform: translateX(-50%);
}

.souvenir-icon::before {
  position: absolute;
  width: 75px;
  height: 72px;
  content: "";
  background: url(../images/icon-souvenir.svg) no-repeat center / contain;
  margin-bottom: 30px;
  bottom: 28px;
  left: 50%;
  transform: translateX(-50%);
}


.services-description {
  text-align: center;
  max-width: 230px;
  margin: 0 auto;
}

/* Booking */

.booking {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 96px 0;
}

.booking h2 {
  margin: auto 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.booking p {
  max-width: 592px;
  margin: 20px auto 54px;
}

.booking .button {
  margin: 0 auto;
  padding: 8px 50px;
  font-size: 20px;
  line-height: 36px;
}

/* Subscribe */

.subscribe {
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 73px 70px 103px;
}
.main-index .subscribe {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 24px 0 20px;
}

.subscribe p {
  max-width: 475px;
  margin: 0 auto 54px;
}

.subscribe-form {
  display: grid;
  max-width: 684px;
  margin: 0 auto;
  grid-template-columns: 1fr 232px;
}

.subscribe-form input {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  margin: 0;
  padding: 14px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px 0 0 4px;
  background-color: #f2f2f2;
  transition: 0.1s;
}

.subscribe-form input:hover {
  background-color: #E5E5E5;
}

.subscribe-form input:focus {
  background-color: #E5E5E5;
  outline: 3px #83B3D3 solid;
}

.subscribe-form input:active {
  outline: 3px #83B3D3 solid;
}


.subscribe-form .button {
  font-size: 20px;
  line-height: 36px;
  border-radius: 0 4px 4px 0;
}

.main-footer {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
  padding: 45px 0 35px;
}

.footer-social-list {
  min-width: 142px;
  max-width: 150px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-item a {
  color: #000000;
  padding: 6px 12px 12px;
  margin: 12px 2px 12px;
  position: relative;
}

.social-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #83b3d3;
}

.footer-social-link:hover .social-icon {
  fill: #68a2ca;
}

.footer-social-link:focus .social-icon {
  fill: #68a2ca;
}

.footer-social-link:focus {
  outline: none;
}

.footer-social-link:focus-visible {
  outline: 3px #83B3D3 solid;
}

.footer-social-link:active .social-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.main-footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main-footer-contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 7px 0 0;
}

.main-footer-contacts-phone:hover {
color: #756157;
}

.main-footer-contacts-phone:focus {
  color: #756157;
  outline: none;
}

.main-footer-contacts-phone:focus-visible {
  color: #756157;
  outline: 3px #83B3D3 solid;
}

.main-footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}

.main-footer-link {
  max-width: 190px;
}

.academy-icon {
  fill: #000000;
  margin: 2px -10px 0 0;
}

.main-footer-link:hover .academy-icon {
  fill: #756157;
}

.main-footer-link:focus .academy-icon {
    fill: #756157;
}

.main-footer-link:focus {
  outline: none;
}

.main-footer-link:focus-visible {
  outline: 3px #83B3D3 solid;
}

.main-footer-link:active .academy-icon {
    fill: rgba(117, 97, 87, 0.3);
}

.main-inner {
  background-color: #ffffff;
}

.filter-wrap {
  padding: 35px 70px 71px;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Breadcrumbs */

.inner-header-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 8px 0 40px;
  padding: 0;
  gap: 28px;
  list-style-type: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;

}

.breadcrumbs-item {
  position: relative;
}

.breadcrumbs-item::after {
  position: absolute;
  top: 0;
  right: -18px;
  width: 8px;
  height: 20px;
  background: url(../images/arrow.svg) no-repeat center / contain;
  content: "";
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.breadcrumbs-link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}

.breadcrumbs-link:focus {
  opacity: 0.6;
}

.breadcrumbs-link:active {
    color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-home {
  width: 13px;
  height: 15px;
  margin: 3px 0;
  background-image: url(../images/icon-home.svg);
  background-size: 100%;
  background-repeat: no-repeat;
}

.breadcrumbs-link-home:hover {
  opacity: 0.6;
}

.breadcrumbs-link-home:active {
  opacity: 0.3;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #ffffff;
}

.navigation-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
}

.navigation-icon:focus {
  fill: #fff;
}

.navigation-icon:active {
  fill: rgba(255, 255, 255, 0.3);
}


/* Filter */

.catalog-filter-form {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.catalog-filter-group {
  margin: 0 68px 0 0;
  padding: 0;
  min-width: 150px;
  border: none;
  box-sizing: border-box;
}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  font-size: 18px;
  line-height: 23px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
  max-width: 150px;
}

.control-mark {
  position: absolute;
  top: 2px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #FFFFFF;
  border-radius: 4px;
}

.control-input[type="checkbox"]:checked + .control-mark {
  background-image: url(../images/checkbox-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
  appearance: none;
}

.control:hover {
  opacity: 0.6;
  transition: 0.3s;
}

.control:focus-within .control-mark {
  outline: 3px #83B3D3 solid;
}

.control:active {
  opacity: 0.3;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3f5e72;
  border-radius: 50%;
  content: "";
}

.filter-price {
  width: 290px;
  padding-left: 73px;
}

.range-slider-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.range-slider-input .control {
  min-width: 132px;
  padding: 5px 5px 5px 5px;
  font-size: 18px;
  line-height: 24px;
  color: rgba(117, 97, 87, 0.6);
  text-transform: lowercase;
  background-color: #F2F2F2;
}

.range-slider-input .control:hover {
  background-color: #E5E5E5;
  opacity: 1;
}

.range-slider-input .control:focus-within {
  background-color: #E5E5E5;
  outline: 3px #83B3D3 solid;
}

.range-slider-input .control:active {
  background-color: #E5E5E5;
}

.min-price {
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
}

.max-price {
  border-radius: 0 4px 4px 0 ;
}

.range-input {
  width: 80px;
  padding: 8px 0 7px 15px;
  font: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input:focus {
  outline: none;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-top: 42px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  left: 0;
  width: 225px;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #ffffff;
}

.range-toggle:focus {
  outline: 3px solid #83B3D3;
}

.range-toggle:active {
  outline: 3px solid #83B3D3;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  left: 208px;
}


.catalog-filter-buttons {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 56px;
  padding-left: 71px;
}

.catalog-filter-buttons .button {
  padding: 8px 50px;
  min-width: 191px;
}

.catalog-products {
  margin: 0 70px;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 40px;
}

.catalog-products-result {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-sort-panel {
  display: flex;
  list-style-type: none;
}

.select-control {
  font-size: 18px;
  line-height: 21px;
}

.catalog-products-view {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-products-view-item {
  width: 49px;
  height: 49px;
}

.products-view-link {
  display: block;
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px #e5e5e5 solid;
  border-radius: 4px;
}

.products-view-link:hover {
  border: 2px #000 solid;
  transition: 0.3s;
  }

.products-view-link:focus {
    border: 2px #68a2ca solid;
  }

  .products-view-link:active {
    border: 2px #000 solid;
  }

.products-view-link-active {
  border: 2px #000 solid;
}

.products-view-table {
  background-image: url(../images/icon-table.svg);
}

.products-view-card {
  background-image: url(../images/icon-slideshow.svg);
}

.products-view-list {
  background-image: url(../images/icon-list.svg);
}

.select-control {
  min-width: 290px;
  margin-right: 70px;
  padding: 10px 17px;
  max-height: 49px;
  font-family: inherit;
  background-image: url("../images/select-arrow.svg");
  background-repeat: no-repeat;
  background-position: right 16px center;
  border: 2px #E5E5E5 solid;
  border-radius: 4px;
  appearance: none;
}

.select-control:hover {
  border: 2px #68A2CA solid;
  transition: 0.3s;
}

.select-control:focus {
  border: 2px #68A2CA solid;
}

.select-control:focus-visible {
  border: 2px #68A2CA solid;
  outline: none;
}

.select-control:active {
  border: 2px #68A2CA solid;
}

.select-control:disabled {
  border: 2px rgba(0, 0, 0, 0.3) solid;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-products-view .button {
  margin: 0;
  padding: 16px 16px;
  color: #000000;
}

/* Product */

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
  gap: 20px;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  display: grid;
  padding: 19px;
  grid-template-columns: 140px 140px;
  row-gap: 16px;
  column-gap: 20px;
  box-sizing: border-box;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.product-card-link {
  grid-column: 1 / -1;
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
}

.product-card-link img {
  object-fit: cover;
  display: block;
}

.product-card-link h3 {
  margin: 0;
  padding: 0;
  font-size: 24px;
  line-height: 28px;
  word-break: break-all;
}

.product-card-type {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  word-break: break-all;
}

.product-card-price {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  text-align: end;
  word-break: break-all;
}

.product-card-button {
  padding: 8px 26px;
}

.button-wish-item-to {
  padding: 8px 20px;
}

.button-wish-item-added {
  padding: 8px 15px;
}

.product-stardom {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 6px;
}

.star {
  display: block;
  width: 18px;
  height: 17px;
  margin-top: 10px;
  background-image: url("../images/icon-star.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
  padding: 9px 22px 8px;
  background-color: #f2f2f2;
  border-radius: 4px;
}

/* Pagination */

.pagination-container {
  display: flex;
  border-top: 1px solid #e5e5e5;
}

.pagination {
  display: flex;
  margin: 40px 0 60px;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 12px 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-link:not(.pagination-current):not(.pagination-point):hover {
  background-color: #68a2ca;
  }

  .pagination-link:not(.pagination-current):not(.pagination-point):focus {
    background-color: #68a2ca;
  }

  .pagination-link:not(.pagination-current):not(.pagination-point):active {
    color: rgba(255, 255, 255, 0.3);
    background-color: #82b3d3;
  }

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-point {
  color: #000000;
  background-color: #ffffff;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
  display: none;
}

.modal {
  position: relative;
  width: 717px;
  margin: auto;
  padding: 64px 70px;
  box-sizing: border-box;
  background-color: #ffffff;
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.15);
  border-radius: 30px;
}

.modal-close-button {
  position: absolute;
  padding: 18px;
  top: 64px;
  right: 52px;
  width: 52px;
  height: 52px;
  background-color: #f2f2f2;
  border: none;
  border-radius: 100%;
  cursor: pointer;
}

.close-button {
  fill: #000000;
}

.modal-close-button:hover {
  background-color: #E5E5E5;
}

.modal-close-button:focus {
  background-color: #E5E5E5;
  outline: 3px #83B3D3 solid;
}

.modal-close-button:active .close-button {
  opacity: 0.3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  font-family: "PT Sans", sans-serif;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.booking-form {
  display: grid;
  grid-template-columns: 244px 244px;
  column-gap: 88px;
}

.booking-form .field-group {
  margin: 0;
  margin-bottom: 48px;
  position: relative;
}

.booking-form label {
  padding: 12px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: capitalize;
}

.field-group-children label {
  padding: 12px 4px;
}

.field-feedback {
  margin: 0;
  position: absolute;
  font-size: 16px;
  line-height: 21px;
  left: 157px;
  top: 52px;
}

.invalid-feedback {
color: #FF5757;
}

.success-feedback {
  color: #333333;
}

.field-group-arrival {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 440px;
  align-items: start;
}

.form-field {
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  font-weight: 900;
  color: #000000;
  margin: 0;
  padding: 12px 20px;
  box-sizing: border-box;
  border: none;
  border-radius: 4px;
  background-color: #f2f2f2;
  appearance: textfield;
}

.form-field:hover {
  background-color: #E5E5E5;
}

.calendar-button {
  position: absolute;
  top: 16px;
  right: 21px;
  width: 16px;
  height: 15px;
  background-image: url("../images/icon-calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  opacity: 0.3;
  cursor: pointer;
}

.calendar-button:hover {
  opacity: 1;
}

.field-group-departure {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 440px;
  align-items: start;
}

.field-group-adult {
  display: grid;
  grid-template-columns: 1fr 105px;
  align-items: start;
}

.field-group-children {
  display: grid;
  grid-template-columns: 1fr 110px;
  align-items: start;
}

.field-number {
  text-align: center;
}

.form-field::-webkit-inner-spin-button,
.form-field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.counter-button {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 14px 10px;
  background: none;
  border: none;
  cursor: pointer;
}

.counter-button:hover svg {
  fill: black;
  fill-opacity: 1;
}

.counter-button:focus{
  outline: 3px solid #82b3d3;
  border-radius: 4px;
}

.counter-button:focus svg{
  fill: black;
  fill-opacity: 1;
}

.counter-button:active {
  fill: #756157;
  fill-opacity: 0.3;
  outline: none;
}

.button-minus {
  right: 71px;
  padding: 9px 7px;
}

.button-plus {
  right: 0;
  padding: 3px 6px;
}

.minus {
  display: block;
  fill: #756157;
  fill-opacity: 0.3;
}

.plus {
  display: block;
  fill: #756157;
  fill-opacity: 0.3;
}

.tooltip {
  position: absolute;
  top: 10px;
  left: 52px;
}

.tooltip-toggle {
  position: absolute;
  left: 10px;
  top: 0;
  padding: 0;
  margin: 0;
  width: 26px;
  height: 26px;
  background-color: #83B3D3;
  background-image: url("../images/icon-info.svg");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip-text {
  font-family: "PT Sans", sans-serif;
  background-color: #333333;
  color: #FFFFFF;
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.3);
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: none;
  box-sizing: border-box;
  padding: 15px 18px 18px 22px;
  border-radius: 10px;
  width: 256px;
  position: absolute;
  top: 41px;
  left: 25px;
  z-index: 1;
  transform: translateX(-50%);
  display: none;
}

.tooltip-text::before {
  position: absolute;
  top: -9px;
  right: 121px;
  width: 19px;
  height: 9px;
  background: url(../images/triangle.svg) no-repeat center / contain;
  content: "";
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.search-result {
  grid-column: 1 / -1;
  font-size: 20px;
  line-height: 24px;
  padding: 18px;
  border-radius: 10px;
}
