@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

/* Pages */

html {
  height: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  background-color: #f2f2f2;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  height: fit-content;
  white-space: nowrap;
  border-radius: 4px;
}

.button-blue {
  background-color: #82b3d3;
}

.button-brown {
  background-color: #756157;
}

.button-transparent {
  background-color: inherit;
}

.button-green {
  background-color: #7db54f;
}

.navigation {
  display: flex;
  margin: 0 70px;
}

.navigation-logo {
  width: 138px;
  height: 64px;
  margin-right: 30px;
  padding: 0;
  z-index: 5;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 507px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  display: flex;
  width: 268px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style-type: none;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: capitalize;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation .button {
  margin-top: 14px;
}
.main-header {
  background-color: #ffffff;
}

.main-container {
  flex-grow: 1;
}

.main-index {
  background-color: #ffffff;
}

.page-container {
  margin: 0 auto;
}

/* Banner */

.main-banner {
  padding-top: 51px;
  padding-bottom: 82px;
  color: #ffffff;
  text-align: center;
  background-color: #82b3d3;
  background-image: url("../images/index-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.main-banner-img {
  display: block;
  margin: 0 auto;
}

/* About */

.about {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.about h2 {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  max-width: 620px;
  margin: 69px auto 0;
}

.about p {
  max-width: 651px;
  margin: 25px auto 90px;
}

/* Advantages */

.advantages {
  background-color: #ffffff;
}

.advantages-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  flex-grow: 1;
  font-size: 18px;
  line-height: 21px;
  min-height: 385px;
  margin: 0;
  padding: 0;

}

.advantages-item-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 112px;
  justify-content: center;
}

.advantages-item:first-child {
  width: 100%;
}

.advantages-item:last-child {
  width: 100%;
  flex-direction: row-reverse;
}

.background-basic {
  color: #ffffff;
  background-color: #82b3d3;
}

.background-second-light {
  color: #000000;
  background-color: #83b3d31f;
}

.background-second-dark {
  color: #000000;
  background-color: #83b3d333;
}

.advantages-title {
  max-width: 175px;
  margin: 0 auto 62px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.advantages-description {
  max-width: 230px;
  margin: 0 auto;
  text-align: center;
}

/* Slogan */

.slogan {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.slogan h2 {
  max-width: 505px;
  margin: 64px auto 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slogan p {
  max-width: 651px;
  margin: 20px auto 65px;
}

/* Services */

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.services-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 400px;
  min-height: 385px;
  font-size: 18px;
  line-height: 21px;
}

.services-title {
  max-width: 175px;
  margin: 100px auto 30px;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}

.services-description {
  text-align: center;
  max-width: 230px;
  margin: 0 auto;
}

/* Booking */

.booking {
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.booking h2 {
  margin: 95px auto 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.booking p {
  max-width: 592px;
  margin: 20px auto 54px;
}

.booking .button {
  margin: 0 auto 96px;
  font-size: 20px;
  line-height: 36px;
}

/* Subscribe */

.subscribe {
  color: #000000;
  text-align: center;
  background-color: #ffffff;
  margin: 0;
  padding: 70px;
}
.main-index .subscribe {
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/subscribe.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.subscribe p {
  max-width: 475px;
  margin: 0 auto 54px;
}

.subscribe-form input {
  font-family: inherit;
}

.main-footer {
  background-color: #ffffff;
}

.page-footer-container {
  display: flex;
  justify-content: space-between;
  margin: 0 80px;
  padding: 45px 0 35px;
}

.footer-social-list {
  min-width: 142px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-item a {
  color: #000000;
  padding: 20px 23px;
  background-color: aqua;
}

.main-footer-contacts-phone {
  color: #000000;
  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-footer-link {
  max-width: 190px;
}

.main-inner {
  background-color: #ffffff;
}

.filter-wrap {
  padding: 70px;
  color: #ffffff;
  background-color: #82b3d3;
  background-image: url("../images/filter.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/* Breadcrumbs */

.inner-header-title {
  margin: 0;
  padding: 0;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  display: flex;
  margin: 8px 0 40px;
  padding: 0;
  list-style-type: none;
  color: #ffffff;
  font-size: 16px;
  line-height: 21px;

}

.breadcrumbs-item {
  margin-right: 10px;
}

/* Link */
.breadcrumbs-link {
  color: inherit;
  text-decoration: none;
}

/* Filter */

.catalog-filter-form {
  display: flex;
}

.catalog-filter-title {
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  color: #ffffff;
  text-transform: capitalize;
}

.catalog-filter-group {
  margin: 0 70px 0 0;
  padding: 0;
  min-width: 150px;
  border: none;

}

.catalog-filter-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.control {
  font-size: 18px;
  line-height: 23px;
  font-weight: 400;
  color: #ffffff;
  text-transform: capitalize;
}

.control input {
  font-family: inherit;
  font-weight: 700;
}

.catalog-products {
  margin: 0 70px;
}

.catalog-sort {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 40px;
}

.catalog-products-result {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.catalog-sort-panel {
  display: flex;
  list-style-type: none;
}

.catalog-products-view {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.catalog-products-view-item {
  width: 49px;
  height: 49px;
  margin-right: 8px;
}

.catalog-products-view-item:last-child {
  margin-right: 0;
}


.select-control {
  min-width: 292px;
  margin-right: 70px;
  font-family: inherit;
}

.catalog-products-view .button {
  margin: 0;
  padding: 16px 16px;
  color: #000000;
  background-color: aqua;
}

/* Product */

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0 0 40px;
  padding: 0;
  list-style-type: none;
}

.product-card {
  width: 340px;
}

.product-card-link {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  text-transform: capitalize;
}

.product-card-type {
  font-size: 18px;
  line-height: 21px;
}

.product-card-price {
  font-size: 18px;
  line-height: 21px;
}

.rating {
  font-size: 16px;
  line-height: 20px;
  background-color: #f2f2f2;
}

/* Pagination */

.pagination-container {
  display: flex;

  border-top: 1px solid #e5e5e5;
}

.pagination {
  display: flex;
  margin: 40px 0 60px;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  width: 60px;
  height: 60px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 12px 12px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #82b3d3;
  text-decoration: none;
  border-radius: 4px;
}

.pagination-current {
  color: #000000;
  background-color: #f2f2f2;
}

.pagination-point {
  color: #000000;
  background-color: #ffffff;
}
